extends layout 

block content 
    h1 Hi!
    h2 My name is Jake Mullins 
    p I am a student at Brigham Young university pursuing a degree in Computer Science 
    p I started out coding by teaching myself C# and Unity when I was 15 years old. 