extends layout 

block content 
    div(id=counterDisplay) 

        p Exoplanets are planets that have been detected <em>outside</em> of our solar system. The first exoplanets detected were two planets orbiting the pulsar 
            | PSR B1257+12 in 1990 by Aleksandr Wolszczan. In 1992, Aleksandr Wolszczan and Dale Frail published a paper named <a href='https://ui.adsabs.harvard.edu/abs/1992Natur.355..145W/abstract'> A planetary system around the millisecond pulsar PSR1257 + 12 </a>
            | . In 1994, one more planet was discovered. As of writing, that planet is the smallest exoplanet observed, at about 2% of Earth's mass. 
    
        // totalCount is all planets
        // sinceCount is how many planets have been discovered since
        // the site went live
        p There have been
        span
            h1 #{totalCount}
        p Exoplanets discovered.
        p Since this website went live on August 4th, 2021,
        span
            h1 #{totalCount - 4438}
        p Exoplanets have been discovered.
    lr
    div(id=counterInfo)
        h2 Counter Info
        p I created this website from the ground up starting in June.
        p The site works by downloading a JSON with all the known exoplanet names from NASA, found at this link:
        <a href='https://exoplanetarchive.ipac.caltech.edu/'> Exoplanet Archive </a>
        p The program then parses the JSON and uploads it to MongoDB. This is done every five minutes or so.
            | Every time you refresh the page, the program counts the number of Exoplanet objects in the database.
            | In order to create this project, I had to learn 
        ul
            li Node.js 
            li Express
            li MongoDB and Mongoose
            li Heroku
            li Pug
        p As of August 9th 2021, the site is now fully available to the public.