extends layout 

block content 
    div(id=counterDisplay) 
        // totalCount is all planets
        // sinceCount is how many planets have been discovered since
        // the site went live
        p There have been
        span
            h1 #{totalCount}
        p Exoplanets discovered.
        p Since this website went live on August 4th, 2021,
        span
            h1 #{totalCount - 4438}
        p Exoplanets have been discovered.