doctype html
// If you're sneaking in here to check out my HTML code
// I suggest you go to a different page
html
  head 
    meta(charset UTF-8)/
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Jake Mullins
    p Welcome to my portfolio
    lr
    a(href='/counter')  Realtime Exoplanet Counter
    lr 
    a(href='/aboutme') About Me