doctype html
html
  head
    meta(charset UTF-8)/
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      a(href='/') Home Page
    block content
    footer
      a(href='/aboutme') About Me