doctype html
html(lang="en-US")
  head
    meta(charset="" utf-8="")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav 
        table(width="40%")
          tr
            td <a href="/">Home Page</a>
            td <a href="https://github.com/makejullins/">My Github</a>

    hr
    block content
    hr
    footer
      a(href='/aboutme') About Me